
.login-form {
    padding: 2vh 0.5vw;
    margin: 0 auto;
}

.dialog-form {
    padding: 1vh 0.5vw;
    margin: 0 auto;
}

.login-form button {
    margin-top: 2em !important;
    margin-bottom: 1em;
}

.registration-form button {
    margin-top: 0.6em !important;
    margin-bottom: 1.6em !important;
}

.dialog-wrapper h2 {
    text-align: center;
    margin-bottom: 3vh;
    color: #ae0c0f !important;
    font-size: 35pt !important;
}

.dialog-wrapper h3 {
    margin-top: 0;
}

.registration-button {
    padding: 0 0.5vw;
}

.dialog-wrapper hr {

    padding: 0 2vw;
    margin-top: 0;
    border-top: 1px solid #ae0c0f !important;

}

.dialog-wrapper p {
    text-align: center;
    font-family: "Raleway Light", sans-serif;
    font-size: 16pt;
}

.dialog-title {
    display: none;
}

.modal-title {
    color: #ae0c0f !important;
    font-family: "Raleway SemiBold", sans-serif;
}

@media screen and (max-width: 786px) {
    .dialog-wrapper h2 {
        font-size: 22pt !important;
        margin-bottom: 8vh;
    }

    .dialog-title {
        display: block;
    }

    .dialog-wrapper h3 {
        font-size: 18pt !important;
    }

    .dialog-wrapper hr {
        display: none;
    }
}
