.user {
    padding: 0 1em;
}

.logo {
    font-family: "Lobster Two", serif;
    font-size: 17pt !important;
    margin-right: 1em;
}

.sign-up {
    font-weight: bold;
    color: #da0d11;
}

.nav a {
    font-family: 'Raleway Light', serif;
    font-size: 12pt;
}

@media screen and (max-width: 1000px) {
    .nav a {
        font-size: 11pt;
    }

    .logo {
        font-size: 14pt !important;
        margin-right: 0.8em;
    }
}

.user {
    padding: 0;
}

.settings-big {
    display: inline-block !important;
}

.settings-small ul {
    margin: 0 auto !important;
}

.settings-small {
    margin-bottom: 1em;
}