@font-face {
    font-family: 'Lobster Two';
    src: url(../assets/fonts/Lobster_Two/LobsterTwo-Regular.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(../assets/fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Raleway Black';
    src: url(../assets/fonts/Raleway/Raleway-Black.ttf);
}

@font-face {
    font-family: 'Raleway Light';
    src: url(../assets/fonts/Raleway/Raleway-Light.ttf);
}

@font-face {
    font-family: 'Raleway SemiBold';
    src: url(../assets/fonts/Raleway/Raleway-SemiBold.ttf);
}

.noscroll {
    overflow-y: hidden;
}