.cover {
    -webkit-background-size: cover;
    background-size: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.4)),
    url("../assets/img/nick-hillier-254650-unsplash_opt.jpg") no-repeat center;
    margin-bottom: 0 !important;
    background-attachment: fixed;
}

.heading-text {
    font-family: Raleway, serif;
    color: #ddd;
}

.cover-heading {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Raleway', sans-serif;
    font-size: 40pt !important;
    color: #ddd;
}

.panel-heading {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 5vh !important;
}

.cover-name {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Lobster Two', sans-serif;
    font-size: 60pt !important;
    margin-top: 1vh;
}

.cover-text {
    font-family: 'Raleway Black', sans-serif !important;
    font-size: 45pt !important;
}

@media screen and (max-width: 640px) {

    .panel-heading {
        margin-top: 10vh !important;
    }

    .cover-heading {
        font-size: 34pt !important;
    }

    .cover-text {
        font-size: 30pt !important;
    }

    .cover-name {
        font-size: 50pt !important;
    }

    .about p {
        margin-bottom: 8vh !important;
    }
}

@media screen and (max-width: 320px) {

    .cover-name {
        font-size: 45pt !important;
    }

    .cover-heading {
        font-size: 30pt !important;
    }

    .cover-text {
        font-size: 26pt !important;
    }
}

.about-sections {
    margin: 0 auto;
    width: 90%;
    text-align: justify;
}

.about-chef {
    width: 50vw;
    min-width: 250px;
    height: 25em;
    margin: 4vh auto;
    -webkit-background-size: cover;
    background-size: cover;
    background: linear-gradient(0deg, rgba(99, 12, 15, 0.4), rgba(0, 0, 0, 0.6)),
    url("../assets/img/nick-karvounis-72018-unsplash_opt.jpg") no-repeat top;
}

.about-holder {
    padding: 5vh 0;
}

.about-quote {
    font-family: 'Raleway', serif;
    font-size: 18pt !important;
    text-align: center;
    margin: 7vh auto 5vh auto;
}

.about-quote-author {
    width: 80% !important;
    font-family: 'Raleway Light', serif;
    font-size: 14pt !important;
    text-align: right;
}

.about-intro p {
    font-size: 13pt;
    width: 90%;
    margin: 4vh auto;
}

.about-holder h2 {
    margin-bottom: 5vh !important;
}

.about-sections h3 {
    margin-bottom: 1.6em !important;
}

.about-sections p {
    color: #ccc;
}

.about-text {
    margin: 2vh auto 5vh auto;
}

.about-icon {
    margin-right: 0.4em;
}

.about-long-text {
    width: 85% !important;
    margin: 5vh auto !important;
}

.ghost-button-border-color {
    display: inline-block;
    width: 250px;
    padding: 10px;
    color: #fff !important;
    border: 2px solid #fff !important;
    text-align: center;
    outline: none;
    font-size: 20px;
    font-family: "Raleway SemiBold", serif;
    text-decoration: none !important;
    transition: border-color 0.3s ease-out,
    color 0.3s ease-out;
}

.ghost-button-border-color:hover,
.ghost-button-border-color:active {
    text-decoration: none;
    color: #ce0d11 !important;
    border-color: #ce0d11 !important;
    transition: border-color 0.4s ease-in,
    color 0.4s ease-in;
}

.ghost-button-border-color:visited, link {
    text-decoration: none;
    color: #fff !important;
    border: 2px solid #fff !important;

}

.cover-text {
    font-family: "Raleway SemiBold", sans-serif;
    font-size: 30px !important;
    margin: 10vh auto !important;
}

.head-btn {
    background-color: #ae0c0f !important;

}

.head-text {
    margin-top: 15vh;
    margin-bottom: 10vh;
    color: #f2f2f2;
}

h1 {
    margin: 0 auto 1.2em auto;
}

.head-btn {
    margin: 1em auto;
}

.about-holder {
    background-color: #222;
}

.about {
    color: #f2f2f2f2;
}

/*--------------------------------------------------------------*/

.services {
    padding: 5vh 0;
}

.services h2 {
    margin-bottom: 7vh;
}

.service {
    margin: 5em auto;
}

.service p {
    width: 70% !important;
    margin: 0 auto;
    text-align: justify;
}

.service h3 {
    font-family: "Lobster Two", sans-serif;
    color: #da0d11;
    font-size: 24pt;
    margin-top: 1.5em !important;
}

.services p {
    font-size: 13pt;
    width: 90%;
    margin: 4vh auto;

}

.services-list {
    margin-bottom: 8vh;
}

.service-divider {
    border-color: #da0d11;
    margin: 5vh auto 1vh auto;
}

.services-lead {
    font-size: 17pt;
}

/*--------------------------------------------------------------*/

.menu-big-image {

    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    width: 300px;
    height: 300px;
    margin: 3vh auto 4vh auto;
    -webkit-background-size: cover;
    background-size: cover !important;
    background: url("../assets/img/ivan-torres-478678-unsplash_opt.jpg") right no-repeat;

}

.menu-small-image {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    width: 200px;
    height: 200px;
    left: 120px;
    top: 120px;
    -webkit-background-size: cover;
    background-size: cover !important;
    background: url("../assets/img/jamie-goodwin-411636-unsplash.jpg") center no-repeat;

}

@media screen and (max-width: 474px) {
    .menu-big-image {
        width: 80vw;
    }

    .menu-small-image {
        display: none;
    }

    .menu-text h2 {
        margin-top: 8vh !important;
    }

    .menus p {
        font-size: 14pt !important;
        padding: 30px 10px !important;
    }
}

.menus {
    background-color: #811012;
    padding: 5vh 0;
}

.menu-text {
    font-size: 1.4em;

}

.menu-text h2 {
    margin: 2vh auto 4vh auto;
    color: #f2f2f2 !important;
}

.menus p {
    text-align: justify;
    width: 85%;
    padding: 30px;
    margin: 0 auto;
    color: #dddddd;
}

/*--------------------------------------------------------------*/

.gallery-holder {
    background-color: #222;
    color: #f2f2f2;
    padding: 5vh 0 7vh 0;
}

.gallery-holder h2 {
    margin-bottom: 4vh;
}

.gallery-text {
    font-size: 1.4em;
    width: 85%;
    margin: 6vh auto 4vh auto;
}

.gallery-pictures-holder {
    width: 200px;
    height: 180px;
    margin: 0.8em;
    position: relative;
    display: inline-block;
}

.gallery-pictures-holder:hover .gallery-picture-overlay {
    width: 100%;
    left: 0;
}

.gallery-picture {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.gallery-picture-overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #8b0d11;
    opacity: .75;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.gallery-picture-text {
    color: white;
    font-family: "Raleway Light", sans-serif;
    font-size: 15pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
}

.pictures {
    margin: 4vh auto;
}

@media screen and (max-width: 475px) {
    .gallery-pictures-holder {
        width: 80%;
        height: 200px;
    }

    .gallery-picture-overlay {
        opacity: 1;
        width: 100%;
        background-color: rgba(139, 13, 17, .45);
        left: 0;
    }

    .gallery-text {
        font-size: 14pt !important;
        margin: 8vh auto;
    }
}

/*--------------------------------------------------------------*/

.discount {
    padding: 5vh 0;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 0 !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.6)),
    url("../assets/img/petr-sevcovic-594807-unsplash_opt.jpg") no-repeat fixed bottom;

}

.discount h2 {
    font-size: 40pt !important;
    color: #f2f2f2 !important;
    margin-bottom: 5vh;
}

.discount p {
    font-size: 18pt;
    color: #ccc;
    text-align: justify;
    width: 85%;
}

.register-button {
    margin: 5vh auto 3vh auto;
    background-color: transparent !important;
}

@media screen and (max-width: 784px) {
    .discount h2 {
        width: 85%;
        font-size: 30pt !important;
        margin: 0 auto 7vh auto;
    }

    .discount p {
        font-size: 14pt !important;
        margin: 2em auto;
    }

    .register-button {
        font-size: 18pt !important;
        display: block;
        margin: 5vh auto;
    }
}

@media screen and (max-width: 500px) {

    .register-button {
        font-size: 18pt !important;
        display: block;
        width: 80vw;

    }
}

/*--------------------------------------------------------------*/

.planning {
    padding: 5vh 0;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 0 !important;
    background: linear-gradient(0deg, rgba(139, 13, 17, 0.89), rgba(104, 13, 16, 0.4)),
    url("../assets/img/benjamin-ashton-483069-unsplash_opt.jpg") no-repeat fixed bottom;

}

.planning-text {

}