.reservation {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url("../assets/img/abdullah-oguk-256739-unsplash_opt.jpg") no-repeat fixed center;
    padding: 12vh 5vw;
    text-align: left;
}

.reservation-panel {
    background-color: #fff;
    padding: 2vh 3vw !important;
}

.reservation h2 {
    text-align: center;
    margin-bottom: 1.6em;
}

.reservation button {
    margin: 2em auto;
}

.reservation-text {
    margin: 10vh auto;
    font-size: 1.2em;
    text-align: center;

}

.restaurant-form {
    padding: 0 2vh;
    margin-bottom: 3em !important;
}

.restaurant-form h3 {
    margin-top: 0 !important;
}

.client-form {
    margin-top: 1em !important;
    margin-bottom: 3.6em !important;
}

.bar button {
    margin: 0;
}

.res-panel-spinner {
    padding: 5em 20rem;
}

@media screen and (max-width: 480px) {
    .res-panel-spinner {
        padding: 5em 10rem;
    }
}

.res-order-meal-list {
    max-height: 42rem;
    overflow-y: auto;
}

.res-order-client h3 {
    margin: 10px auto;
}

.orders-price {
    margin-top: 1.5em;
}

.add-meal {
    text-align: right;
}

.meal-price {
    font-size: 1.25em;
    font-weight: bold;
}

.orders-price p {
    font-size: 1.55em;
}

.client-orders {
    max-height: 17em;
    overflow-y: auto;
}

.remove-meal {
    float: right;
}

.order-panel {
    padding: 0 2vh;
    margin-bottom: 3em;
}

.meal-types-button {
    width: 7.5em;
    height: 7.5em;
    max-width: 20vw;
    max-height: 20vw;
    background: no-repeat;
}

.meal-types-buttons-container > p {
    font-size: 1.5em;
}

.meal-type-button {
    opacity: 0.7;
    padding: 1em;
}

.meal-type-button:hover {
    opacity: 1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 974px) {
    .meal-types-button {
        display: inline-block;
    }

    .meal-types {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 5vh;

    }
}

.old-price {
    text-decoration: line-through;
    color: #555;
}

.new-price {
    font-weight: bold;
}

.meal-holder {
    padding: 0.6em;
}

.meal-holder:hover {
    background-color: #eee;
    cursor: pointer;
}

.meal-item {
    padding: 0 !important;
}

.reservation .badge {
    background-color: #ae0c0f;
}

.res-order-meal-list-container .list-group-item {
    margin-bottom: 0.4em !important;

}

.client-orders .list-group-item {
    margin-bottom: 0.4em !important;

}

.reservation h3 {
    margin: 1em auto;
}

.price {
    font-size: 18pt;
    margin: 1em auto;
}

.old-price {
    display: inline-block;
    margin: 0 0.6em;
    opacity: 0.9;
}

.reservation button {
    background-color: #8b0d11 !important;
    margin: 1em auto !important;
    font-size: 12pt !important;
    font-weight: 400 !important;
    border: none !important;
    border-radius: 27px;
    transition: .3s ease;
    display: inline-block!important;
}

.reservation button:hover {
    background-color: #ae0c0f !important;
    transition: .3s ease;
}


