.user-reservations-panel {
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.78);
    z-index: 9998;
    position: fixed;

}

.user-reservations-panel h2 {
    color: #fff;
    margin: 12vh auto 4vh auto;
    font-size: 40pt !important;
}

.user-reservations-panel .user-data {
    text-align: right;
    color: #fff;
}

.user-data button {
    margin-top: 3vh;
}

.user-reservations-panel .close {
    font-size: 33pt !important;
}

.user-reservations-panel .close:hover, .close:active {
    color: #fff;
    background-color: transparent;

}

.reservation-slide {
    background-color: #fff;
    border-radius: 3px;
    padding: 30px 50px;
    margin-bottom: 10px;
    z-index: 9999;
}

.res-status {
    display: inline-block;
    margin-left: 10px;
}

.inside-user-panel {
    padding: 7vh auto;
}

.res-list {
    margin: 6vh 4vw;
    overflow-y: auto;
    position: static;
    max-height: 53vh;
}

.sep {
    margin-bottom: 30px;
}

.reservations-lead {
    color: #fff;
}

.reservations-lead h3 {
    margin: 0 1em 1em 1em;
}

.user-res-buttons button {
    background-color: #ae0c0f;
    border: none;
    color: white;
    padding: 0.7em 1em;
    text-align: center;
    border-radius: 20px;
    margin-left: 1em;
    text-decoration: none;
    display: inline-block;
    opacity: 0.8;
    font-size: 11pt;
    transition: .4s ease;

}

.user-res-buttons button:hover {
    opacity: 1;
    background-color: #8b0d11;
    transition: .4s ease;
}

.user-res-buttons i {
    margin-right: 0.5em !important;
}

.res-user-update {
    float: left;
}

.reservation-slide h3 {
    margin-top: 0 !important;
}

@media screen and (max-width: 500px) {
    /*.res-user-update {*/
        /*float: none;*/
    /*}*/

    .user-res-buttons button {
        font-size: 10pt;
        margin-left: 0.8em;
    }
}