.noscroll {
    overflow: hidden;
}

h2 {
    font-family: "Lobster Two", serif !important;
    font-size: 28pt !important;
    color: #ce0d11 !important;
}

section p {
    width: 85%;
}

.alert-info {
    background-color: #8b0d11 !important;
    margin: 20px auto;
}